/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --section-title-color: #353430;
  --bg-accent-color: #ff8dcb;
  --text-accent-color: #353430;
  --text-color: #353430;
  --btn-default-background: #353430;
  --btn-default-hover-backgroud: #32312d66;
  --section-accent-title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --decoration-zone: #353430;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --section-title-color: #353430;
    --bg-accent-color: #ff8dcb;
    --text-accent-color: #353430;
    --text-color: #353430;
    --btn-default-background: #353430;
    --btn-default-hover-backgroud: #32312d66;
    --section-accent-title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --decoration-zone: #353430;
  }
  .theme-auto .header__rec {
    display: none;
  }
}
