/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --decoration-zone: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(/images/cover-image-light.png);
  --h1-color: #ffc2e6;
  --h2-color: #353430;
  --bg-accent-color: #ff8dcb;
  --text-accent-color: #353430;
  --main-text-color: #353430;
  --button-color: #353430;
  --button-hover: #32312d66;
  --footer-h2-color: #ffc2e6;
  --footer-title-shadow: #ff0070;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --decoration-zone: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(/images/cover-image-light.png);
    --h1-color: #ffc2e6;
    --h2-color: #353430;
    --bg-accent-color: #ff8dcb;
    --text-accent-color: #353430;
    --main-text-color: #353430;
    --button-color: #353430;
    --button-hover: #32312d66;
    --footer-h2-color: #ffc2e6;
    --footer-title-shadow: #ff0070;
  }
  .theme-auto .header__rec {
    display: none;
  }
}
