/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  font-weight: 700;
  align-items: center;
  padding-inline: 10px;
  padding-block: 10px;
  min-block-size: 668px;
  block-size: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
}

.header__rec {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 10px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
}

.header__rec::after {
  content: '';
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--bg-accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--bg-accent-color);
  line-height: 23.4px;
  font-size: 18px;
  color: var(--text-accent-color);
  
}

.header__theme-menu {
  display: grid;
  justify-content: end;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-color);
}

.header__theme-menu-button {
  color: var(--button-color);
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
  text-transform: lowercase;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button_active:hover {
  outline: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: solid 1px var(--button-color);
}

.main {
  padding-inline: 10px;
  margin-block-start: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
  grid-template-rows: minmax(min-content, max-content);

}

.section__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  color: var(--h2-color);
  font-size: 18px;
  line-height: 23.4px;
}

.section__text {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.section__text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.section__text-link:focus {
  outline: none;
}

.section__text-link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.section__text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section__images {
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  gap: 10px;
}

.images__gallery {
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  gap: 10px;
}

.section__images-picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}
 .footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-start: 40px;

 }

 .footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--footer-h2-color);
  text-shadow: 2px 2px 0 var(--footer-title-shadow);
  line-height: 95.7%;
 
 }

 @media (width >= 768px) {
  .header {
    padding-inline: 20px;
    padding-block: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;

  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__rec {
    top: 20px;
    right: 30px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    width: 50%;
    justify-self: end;
  }

  .main {
    gap: 80px;
    padding: 20px 20px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    max-inline-size: 236px;
  }

  .section__list {
    grid-column: 2;
  }
  
  .section__title-special {
    grid-column: 1 / -1;
  }

  .section__list-special {
    grid-column: 1 / -1;
  }

  .section__images {
    gap: 20px;
  }

  .image__sunset {
    grid-area: sunset;
  }

  .image__ice-cream {
    grid-area: ice-cream;
  }

  .image__tape {
    grid-area: tape;
  }

  .image__books {
    grid-area: books;
  }

  .image_street {
    grid-area: street;
  }
  
  .images__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
    gap: 20px;
  
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-block-start: 0;
  }

  .section__title {
    max-inline-size: 315px;
  }
  
  .section__list-special {
    grid-template-columns: repeat(3, 1fr);
  }
}